{{ if not .Page.Params.hideFooter }}
<footer class="w-full flex flex-col items-center
    {{ if .IsHome }} bg-green text-black{{ else }} bg-black text-light-grey{{ end }}">
    <div class="max-w-screen-xl text-lg w-full p-12">
        <div class="grid md:grid-cols-2 md:gap-x-36">
            <div class="pb-8 sm:w-1/2 md:w-full">
                <h3>{{ i18n "wantToTalk" . }}?<br>{{ i18n "getInTouch" . }}.</h3>
            </div>
            <div class="md:row-span-2 md:w-3/4">
                <div class="mb-20">
                    <h5>{{ i18n "letsChat" . }}</h5>
                    <div class="text-md mb-4 md:w-full">
                        {{ i18n "wereAlwaysHappyToChat" . }} -
                        {{ i18n "justSendUsAnEmail" . }}.
                    </div>
                    <a class="btn-link" href="mailto:kontakt@freiheit.com" target="_blank" rel="nofollow">
                        <span>{{ i18n "getInTouchButton" . }}</span>
                    </a>
                </div>
            </div>
            <div class="self-end pt-16">
                &copy; freiheit {{ now.Year }}
                <a class="ml-10 no-underline" href="./imprint">Imprint</a>
                <a class="ml-10 no-underline" href="./privacy_policy">Privacy policy</a>
            </div>
        </div>
    </div>
</footer>
{{ end }}