{{ $style := resources.Get "sass/main.scss" | toCSS | postCSS }}

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
    {{- if eq .Kind "page" }}
    <meta name="description" content="{{ .Summary }}">
    <meta name="author" content="{{ .Params.Author | default .Site.Author.name }}">
    {{- else }}
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Author.name }}">
    {{- end }}
    {{ if .Site.IsServer }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
        {{ $mainJs := resources.Get "js/main.js" | js.Build "main.js" }}
        <script type="text/javascript" src="{{ $mainJs.Permalink }}" defer></script>
    {{ else }}
        {{ $styles := $style | minify | fingerprint | resources.PostProcess }}
        <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}"/>
        {{ $mainJs := resources.Get "js/main.js" | js.Build "main.js" | minify | fingerprint }}
        <script type="text/javascript" src="{{ $mainJs.Permalink }}" defer></script>
    {{ end }}
</head>
