{{ $backgroundImage := "" }}
{{ $backgroundClasses := "" }}
{{ $logo_black := resources.GetMatch "image/logo.svg" }}
{{ $logo_white := resources.GetMatch "image/logo_white.svg" }}
{{ $logo := $logo_black }}
{{ if eq .Params.headerTheme "black"}}
    {{ $backgroundClasses = "bg-black text-light-grey"}}
    {{ $logo = $logo_white }}
{{ else if eq .Params.headerTheme "homepage"}}
    {{ $backgroundClasses = "absolute top-0 left-0 text-white"}}
    {{ $logo = $logo_white }}
{{ else if eq .Params.headerTheme "green" }}
    {{ $backgroundImage = resources.GetMatch "image/header_green.png" }}
    {{ $backgroundClasses = "relative bg-green text-black"}}
{{ else if eq .Params.headerTheme "yellow" }}
    {{ $backgroundImage = resources.GetMatch "image/header_yellow.png" }}
    {{ $backgroundClasses = "relative bg-yellow text-black"}}
{{ else if eq .Params.headerTheme "pale-green" }}
    {{ $backgroundImage = resources.GetMatch "image/header_pale-green.png" }}
    {{ $backgroundClasses = "relative bg-pale-green text-black"}}
{{ else if eq .Params.headerTheme "alabaster" }}
    {{ $backgroundImage = resources.GetMatch "image/header_alabaster.png" }}
    {{ $backgroundClasses = "relative bg-alabaster text-black"}}
{{ else if eq .Params.headerTheme "pale-purple" }}
    {{ $backgroundImage = resources.GetMatch "image/header_pale-purple.png" }}
    {{ $backgroundClasses = "relative bg-pale-purple text-black"}}
{{ else if eq .Params.headerTheme "video" }}
    {{ $backgroundClasses = "relative text-light-grey bg-transparent"}}
    {{ $logo = $logo_white }}
{{ end }}
<header class="z-40 p-5 xl:p-12 w-full
    bg-cover bg-right-bottom bg-no-repeat
    {{ $backgroundClasses }}"
    >

    <div class="absolute z-10 w-full h-full bottom-0 right-0 overflow-hidden">
        <div class="
            absolute
            bottom-0
            -right-4
            z-30
            w-full
            h-full
            bg-contain bg-right-bottom bg-no-repeat"
            {{ if ne $backgroundImage "" }} style="background-image: url('{{ $backgroundImage.Permalink }}');" {{ end }}
        ></div>
    </div>

    <nav class="relative z-40 flex items-center justify-between space" id="navigation">
        <a href="{{site.BaseURL}}"><img class="h-8 object-scale-down" src="{{ $logo.Permalink }}" alt="freiheit logo" /></a>
        <input type="checkbox" class="hidden checkbox" id="open-menu-checkbox">
            <div class="xl:hidden checkbox-content transition duration-200 ease-in-out">
                <div
                        class="bg-right bg-contain bg-no-repeat flex flex-col xl:hidden fixed top-0 left-0 w-full h-screen p-5 md:p-12 bg-black text-light-grey"
                        style="background-image: url('{{ (resources.GetMatch "image/mobile-navigation_background.png").Permalink }}');">
                    <div class="flex items-center justify-between space">
                        <a href="{{site.BaseURL}}"><img class="h-8 object-scale-down" src="{{ $logo_white.Permalink }}" alt="freiheit logo" /></a>
                        <span class="cursor-pointer inline-flex xl:hidden p-2 items-center justify-center transform hover:scale-125 focus:outline-none" id="navigation_close">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5,6 L19,17.9845516 M5,18 L19,6"/>
                            </svg>
                        </span>
                    </div>
                    <ul class="mt-20 flex-1">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                        <li class="pb-5 md:pb-10">
                            <a href="{{ .URL | absLangURL }}" class="inline-block no-underline py-1
                                {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                                    text-white border-white border-b-2 hover:border-b-2
                                {{else}}
                                    text-light-grey hover:text-white
                                {{end}}">
                                {{ .Pre }}
                                <h3 class="mb-0">{{ .Name }}</h3>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                    <div class="">
                        {{- partial "footer-legal.html" . -}}
                    </div>
                </div>
            </div>
        </input>
        <label for="open-menu-checkbox" class="xl:hidden">
            <span 
                class="cursor-pointer inline-flex xl:hidden p-2 items-center justify-center transform hover:scale-125 focus:outline-none"
                aria-expanded="false">
                <span class="sr-only">Open menu</span>
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </span>
        </label>
        {{ if or (.Params.headerHeadline) (.Params.headerSubline) (eq .Params.layout "article") }}
        <ul class="hidden xl:flex flex-wrap items-centertext-navigation font-light w-100">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                    <li class="pr-6">
                        <a href="#" class="no-underline font-thin py-1 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}font-bold border-b-2{{else}}hover:border-b{{end}}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                    <ul class="sub-menu">
                        {{ range .Children }}
                        <li class="pr-6">
                            <a href="{{ .URL | absLangURL }}" class="no-underline font-thin py-1 {{ if $currentPage.IsMenuCurrent " main" . }}font-bold border-b-2{{else}}hover:border-b{{end}}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                {{ else }}
                    <li class="pr-6">
                        <a href="{{ .URL | absLangURL }}"  class="no-underline font-thin py-1 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}font-bold border-b-2{{else}}hover:border-b{{end}}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        {{ end }}
    </nav>

    <!-- header title -->
    {{ if not (.Params.hideHeaderTitle) }}
    <div class="relative z-30 fdc-content-layout" id="page-content">
        <section>
            <div class="py-5 md:py-24">
                {{ if .Params.headerHeadline }}
                <h1>
                    {{ .Params.headerHeadline }}
                </h1>
                {{ end }}
                {{ if .Params.headerSubline }}
                <p>
                    {{ .Params.headerSubline }}
                </p>
                {{ end }}
            </div>
        </section>
    </div>  
    {{ end }}
</header>