// custom reusable styles

// layout
.fdc-content-layout {
  @apply w-full flex flex-col flex-1 items-center overflow-hidden;
  > section {
    @apply
      w-full
      px-4
      md:px-12
      lg:px-12
      pt-8
      md:pt-16
      pb-4
      md:pb-0
      max-w-screen-3xl;
      // article page content
      &.article-content {
        @apply max-w-screen-lg;
      }
    }
  &:first-child {
    > section {
      @apply pt-8 md:pt-24;
    }
  }
  &:last-child {
    > section {
      @apply pb-12 md:pb-16;
    }
  }
}

// content grid images
.fdc-content-grid-images {
  > .fdc-figure {
    &:nth-child(3n+1) {
      @apply md:mr-12;
    }

    &:nth-child(3n+2) {
      grid-row: span 2;
      @apply md:mt-32;
    }

    &:nth-child(3n+3) {
      @apply md:justify-self-end md:mt-8 md:mr-4;
    }
  }

  img {
    @apply w-full md:w-auto;
  }
}
