@mixin bg($file) {
  background-size: cover;
  background-position: bottom right;
  background-image: url('#{$file}');
  background-repeat: no-repeat;
}

.header {
  &__background__who-we-are {
    @include bg('../img/patterns/header_background_who-we-are.png');
  }
  &__background__what-we-build {
    @include bg('../img/patterns/header_background_what-we-build.png');
  }
  &__background__get-in-touch {
    @include bg('../img/patterns/header_background_get-in-touch.png');
  }
  &__background__join-the-team {
    background-position: top right !important;
    @include bg('../img/patterns/header_background_join-the-team.png');
  }
  &__background__what-others-say {
    @include bg('../img/patterns/header_background_what-others-say.png');
  }
}
