.homepage-video {
  height: calc(100vh - 80px);
  &__arrows {
    &:hover {
      .homepage-video__arrow {
        @apply border-white
      }
    }
  }
  &__arrow {
    @apply block w-4 h-4 border-r-4 border-b-4 border-yellow mx-2 mt-1 transform rotate-45;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-name: arrow-scroll;
    animation-iteration-count: infinite;
    &:nth-child(1) {
      animation-delay: .1s;
    }
    &:nth-child(2) {
      animation-delay: .2s;
    }
    &:nth-child(3) {
      animation-delay: .3s;
    }
  }

  // vibes

  .soundVibes {
    $heigh: 18px;
    $width: 4px;
    $gap: 4px;
    $wrapperWidth: ($width + $gap) * 5;

    width: $wrapperWidth;
    &.music-on {
      .soundVibes-eq {
        opacity: 1;
        height: 36px;
      }
    }
    .soundVibes-eq {
      position: relative;
      height: $heigh;
      opacity: .8;
      > span {
        position: absolute;
        bottom: $heigh / 2;
        left: 0;
        display: block;
        width: $width;
        height: $heigh;
        animation: vibe-waves 2.5s infinite ease-in-out;
        &:nth-child(2) {
          left: $width + $gap;
          animation-delay: .2s;
        }
        &:nth-child(3) {
          left: ($width + $gap) * 2;
          animation-delay: .4s;
        }
        &:nth-child(4) {
          left: ($width + $gap) * 3;
          animation-delay: .6s;
        }
        &:nth-child(5) {
          left: ($width + $gap) * 4;
          animation-delay: .8s;
        }
      }
    }
  }
}

@keyframes arrow-scroll {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}

@keyframes vibe-waves {
  0% { height: 5px; transform: translateY(0px); background: #899C8C; }
  25% { height: 100%; transform: translateY(50%); background: #D3FF19; }
  50% { height: 5px; transform: translateY(0px); background: #899C8C; }
  100% { height: 5px; transform: translateY(0px); background: #899C8C; }
}