/**Styling scrollable elements*/

.fdc-scroll {
  transition: opacity 500ms;
}

.fdc-scroll--fade-in {
  opacity: 0;
  &.fdc-scroll--in-viewport {
    animation: fdc-scroll--fade-in 1s ease-in-out both;
  }
}

.fdc-scroll--fade-in-bottom {
  transform: translateY(50px);
  &.fdc-scroll--in-viewport {
    animation: fdc-scroll--fade-in-bottom 1s ease-in-out both;
  }
}
.fdc-scroll--slide-left {
  transform: translateX(-50px);
  &.fdc-scroll--in-viewport {
    animation: fdc-scroll--slide-in-left 1s ease-in-out both;
  }
}

.fdc-scroll--slide-right {
  transform: translateX(50px);
  &.fdc-scroll--in-viewport {
    animation: fdc-scroll--slide-in-right 1s ease-in-out both;
  }
}

@keyframes fdc-scroll--slide-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fdc-scroll--slide-in-right {
  0% {
    transform: translateX(50px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fdc-scroll--fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
