@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
@layer base {
  // Neue-Machina
  @font-face {
    font-family: 'Neue-Machina';
    src: url('../fonts/NeueMachina-Bold.eot');
    src: local('Neue Machina Bold'), local('NeueMachina-Bold'),
    url('../fonts/NeueMachina-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NeueMachina-Bold.woff2') format('woff2'),
    url('../fonts/NeueMachina-Bold.woff') format('woff'),
    url('../fonts/NeueMachina-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  // NB-International-Pro
  @font-face {
    font-family: 'NB-International-Pro';
    src: url('../fonts/NB-International-Pro-Regular.eot');
    src: url('../fonts/NB-International-Pro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NB-International-Pro-Regular.woff') format('woff'),
    url('../fonts/NB-International-Pro-Regular.ttf')  format('truetype'),
    url('../fonts/NB-International-Pro-Regular.svg') format('svg');
    font-style:   normal;
    font-weight:  400;
  }
  // NB-International-Pro-Light
  @font-face {
    font-family: 'NB-International-Pro-Light';
    src: url('../fonts/NB-International-Pro-Light.eot');
    src: url('../fonts/NB-International-Pro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NB-International-Pro-Light.woff') format('woff'),
    url('../fonts/NB-International-Pro-Light.ttf')  format('truetype'),
    url('../fonts/NB-International-Pro-Light.svg') format('svg');
    font-style:   normal;
    font-weight:  300;
  }
  // fdc numbers
  @font-face {
    font-family: 'fdc';
    src:  url('../fonts/fdc-numbers/fdc-numbers.eot?sehrkc');
    src:  url('../fonts/fdc-numbers/fdc-numbers.eot?sehrkc#iefix') format('embedded-opentype'),
      url('../fonts/fdc-numbers/fdc-numbers.ttf?sehrkc') format('truetype'),
      url('../fonts/fdc-numbers/fdc-numbers.woff?sehrkc') format('woff'),
      url('../fonts/fdc-numbers/fdc-numbers.svg?sehrkc#fdc-numbers') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  // Work Sans (https://fonts.google.com/specimen/Work+Sans#standard-styles)
  @font-face {
    font-family: 'Work Sans', sans-serif;
  }
  p {
    @apply mb-4 text-body-lg font-light;
    @screen md {
      @apply text-body-xl;
    }
  }
  h1 {
    @apply text-head-lg;
    @screen md {
      @apply text-head-xl;
    }
    @screen lg {
      @apply text-head-xxl;
    };
  }
  h2 {
    @apply text-head-lg;
    @screen md {
      @apply text-head-xl;
    }
  }
  h3 {
    @apply text-head-md;
    @screen md {
      @apply text-head-lg;
    }
  }
  h4 {
    @apply text-head-sm;
    @screen md {
      @apply text-head-md;
    }
  }
  h5 {
    @apply text-head-xs;
    @screen md {
      @apply text-head-sm;
    }
  }
}
h1,h2,h3,h4,h5,h6 {
  @apply font-serif font-bold mt-12 mb-4;
  &:first-child {
    @apply mt-0;
  }
}
a {
  @apply underline;
}