.mobile-navigation {
  &__background {
    background-image: url('../img/patterns/mobile-navigation_background.png');
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
  }
}
