/// include tailwindcss
@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";
@import "_typography";
@import "_menu";
@import "_components";
@import "_cookiebot";
@import "_scroll";
@import "_theme";
@import "_homepage-video";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

@layer utilities {
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-3000 {
    animation-delay: 3s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  @variants responsive {
    .columns-1 {
      columns: 1;
    }
    .columns-2 {
      columns: 2;
    }
    .columns-3 {
      columns: 3;
    }
    .columns-4 {
      columns: 4;
    }
    .columns-5 {
      columns: 5;
    }
  }
}