{{ define "main" }}
<div class="fdc-content-layout">
    <section class="article-content bg-white mb-24">
        <article>
            <div class="flex justify-between">
                <a class="self-start font-serif no-underline hover:text-red block md:mb-6 mt-6 md:mt-0 text-lg" href="{{site.BaseURL}}/chronicle" rel="noopener">&larr;&nbsp;back</a>
                {{ if .Params.download }}
                    <a
                        href="{{site.BaseURL}}{{ .Params.download }}"
                        target="_blank"
                        class="font-serif no-underline hover:text-red block text-lg"
                    >Download PDF</a>
                {{ end }}
            </div>
            {{ if or (.Params.headline1) (.Params.headline) (.Params.teaser) }}
                {{ if .Params.headline1 }}<h1>{{ .Params.headline1 }}</h1>{{ end }}
                {{ if .Params.headline2 }}<h3>{{ .Params.headline2 }}</h3>{{ end }}
                {{ if .Params.teaser }}<div class="text-body-lg">{{ .Params.teaser }}</div>{{ end }}
            {{ end }}
            {{ if and (not .Params.Youtube) .Params.Image (not .Params.hideImageOnArticle) }}
            <div class="my-8">
                <img src="{{site.BaseURL}}{{ .Params.Image }}" class="w-full" alt="{{ .Title }}"/>
                {{ if .Params.ImageText }}<div class="mt-2 text-sm">{{ .Params.ImageText }}</div>{{ end }}
            </div>
            {{ else if and .Params.lead_image (not .Params.hideImageOnArticle) }}
                <img src="{{site.BaseURL}}{{ .Params.lead_image }}" class="w-full my-8" alt="{{ .Title }}"/>
            {{ end }}
            <p>{{ .Content }}</p>

            {{ if .Params.download }}
            <div class="grid place-items-center mt-10 lg:mt-16">
                <a
                  href="{{site.BaseURL}}{{ .Params.download }}"
                  target="_blank"
                  class="inline-block leading-none rounded-full cursor-pointer py-4 px-8 no-underline font-serif text-black bg-yellow hover:text-black hover:border-black filter hover:brightness-90"
                ><span
                  class="inline-block text-lg"
                  style="margin-top: 3px">Download PDF →</span></a>
            </div>
            {{ end }}
        </article>
    </section>
</div>
{{ end }}