{{ define "main" }}

    {{ with .Pages }}
        {{ range . }}
            <section class="w-full flex flex-col items-center {{ .Params.contentClass }}">
                <div class="w-full p-12 max-w-screen-xl">
                    {{ .Content }}
                </div>
            </section>
        {{ end }}
    {{ end }}

    {{ with .Content }}
    <section class="w-full flex flex-col items-center">
        <div class="w-full p-12 max-w-screen-xl">
            {{ . }}
            <div id="jobs" class="grid md:grid-cols-2 gap-8 my-8"></div>
        </div>
    </section>
    {{ end }}

{{ end }}

{{ define "page_script" }}
<script>
    let target = document.getElementById('jobs');
    if (Date.now() < localStorage.getItem("jobsDate") + (1000 * 60 * 60 * 24)) {
        target.innerHTML = localStorage.getItem("jobsHtml");
    } else {
        let jobTemplate = '<div class="flex flex-col bg-white p-8">' +
            '<div class="flex justify-between">' +
                '<div class="job-location">#Location</div>' +
                '<div class="job-commitment">#Commitment</div>' +
            '</div>' +
            '<div class="mt-6">' +
                '<h4 class="flex-1 job-title"><a href="#Url" target="_blank">#Title</a></h4>' +
                '<div class="job-team">#Team</div>' +
            '</div>' +
            '<div class="md:mt-8 mt-4 job-url">' +
                '<a href="#Url" class="fdc-btn-link--red" target="_blank">{{ i18n "applyNow" . }}</a>' +
            '</div>' +
        '</div>';
    fetch("https://api.lever.co/v0/postings/freiheit-2?mode=json")
        .then(function(response) {
            return response.json();
        }).then(function(jobs) {
            jobs.forEach(function(job) {
                let jobHtml = jobTemplate.replace("#Title", job.text);
                jobHtml = jobHtml.replace("#Team", job.categories.team);
                jobHtml = jobHtml.replace("#Commitment", job.categories.commitment);
                jobHtml = jobHtml.replace("#Location", job.categories.location);
                jobHtml = jobHtml.replace("#Url", job.applyUrl);
                target.innerHTML += jobHtml;
            });
            localStorage.setItem("jobsDate", Date.now().toString());
            localStorage.setItem("jobsHtml", target.innerHTML);
        });
    }
</script>
{{ end }}

