{{ define "main" }}

    {{ with .Pages }}
        {{ range . }}
        <div class="fdc-content-layout">
            <section>
                {{ $class := .Site.Params.combos.fdcPageMargin }}
                {{ partial "content-margin" . }}
            </section>
        </div>
        {{ end }}
    {{ end }}

    {{ with .Content }}
    <div class="fdc-content-layout">
        <section>
            {{ . }}
            <div id="jobs" class="grid md:grid-cols-2 gap-8 my-8"></div>
        </section>
    </div>
    {{ end }}

    <!-- This HTML will be used to render each job -->
    <div id="job_template" class="flex flex-col bg-white p-8 hidden">
        <div class="flex justify-between">
            <div>#Location</div>
            <div>#Commitment</div>
        </div>
        <div class="mt-6"><div class="flex-1"><a
                href="#Url" target="_blank" class="text-head-sm md:text-head-md font-serif no-underline hover:text-red">#Title</a></div>
            <div class="job-team">#Team</div>
        </div>
        <div class="md:mt-8 mt-4 job-url">
            {{ partial "btn-link.html" (dict
            "linkUrl" "#Url"
            "linkText" "Apply Now"
            "color" "red"
            ) }}
        </div>
    </div>

{{ end }}

{{ define "page_script" }}
<script>
    let template = document.getElementById('job_template').outerHTML;
    let target = document.getElementById('jobs');
    if (Date.now() < localStorage.getItem("jobsDate") + (1000 * 60 * 60 * 24)) {
        target.innerHTML = localStorage.getItem("jobsHtml");
    } else {
        let jobTemplate = template;
    fetch("https://api.lever.co/v0/postings/freiheit-2?mode=json")
        .then(function(response) {
            return response.json();
        }).then(function(jobs) {
            jobs.forEach(function(job) {
                let jobHtml = jobTemplate.replace("p-8 hidden", "p-8");
                jobHtml = jobHtml.replace("#Title", job.text);
                jobHtml = jobHtml.replace("#Team", job.categories.team);
                jobHtml = jobHtml.replace("#Commitment", job.categories.commitment);
                jobHtml = jobHtml.replace("#Location", job.categories.location);
                jobHtml = jobHtml.replace("#Url", job.applyUrl);
                target.innerHTML += jobHtml;
            });
            localStorage.setItem("jobsDate", Date.now().toString());
            localStorage.setItem("jobsHtml", target.innerHTML);
        });
    }
</script>
{{ end }}

