{{ define "main" }}
<div class="fdc-content-layout">
    <section class="article-content">
        <article>
            <p>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</p>
            <!-- <h2>{{ .Title }}</h2>
            {{ if .Params.tags }}
            <p>
                <strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ .
                    }}</a> {{end}}
            </p>
            {{end}}
            {{ if .Params.categories }}
            <p>
                <strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . |
                    urlize }}">{{ . }}</a> {{end}}
            </p>
            {{end}}
            {{if .Params.author}}
            <p>
                Author: {{.Params.Author}}
            </p>
            {{end}} -->
            {{ if or (.Params.headline1) (.Params.headline) (.Params.teaser) }}
                {{ if .Params.headline1 }}<h1>{{ .Params.headline1 }}</h1>{{ end }}
                {{ if .Params.headline2 }}<h3>{{ .Params.headline2 }}</h3>{{ end }}
                {{ if .Params.teaser }}<div class="text-body-lg">{{ .Params.teaser }}</div>{{ end }}
            {{ end }}
            {{ if .Params.Image }}
                <img src="/img/what-others-say/{{.Params.Image}}" class="w-full my-8" alt="{{ .Title }}"/>
            {{ end }}
            <p>{{ .Content }}</p>
        </article>
    </section>
</div>
{{ end }}