<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body class="flex flex-col min-h-screen justify-between bg-light-grey text-black font-sans text-body-md items-center">
    {{- partial "header.html" . -}}
    <main class="flex flex-col h-full w-full flex-1">
    {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
    {{- block "page_script" . }}{{- end }}
    <script id="CookieDeclaration" src="https://consent.cookiebot.com/2d18d293-255a-4ad2-a363-53ba7ffb8919/cd.js" type="text/javascript" async></script>
</body>

</html>