<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{- partial "head.html" . -}}
{{ $current := "" }}
{{ if strings.Contains $.Site.BaseURL "mploigt" }}
    {{ $current = index (split .RelPermalink "/") 2 }}
{{ else }}
    {{ $current = index (split .RelPermalink "/") 1 }}
{{ end }}
{{ $padding := "h-11" }}
{{ if eq $current "" }}
    {{ $current = "home" }}
    {{ $padding = "h-0" }}
{{ end }}

{{ $backgroundColor := "" }}
{{ if eq .Params.headerTheme "black"}}
   {{ $backgroundColor = "bg-black"}}
{{ else if eq .Params.headerTheme "homepage"}}
    {{ $backgroundColor = "bg-light-grey"}}
{{ else if eq .Params.headerTheme "xmas"}}
    {{ $backgroundColor = "bg-transparent text-white"}}
{{ else if eq .Params.headerTheme "green" }}
    {{ $backgroundColor = "bg-green"}}
{{ else if eq .Params.headerTheme "yellow" }}
    {{ $backgroundColor = "bg-yellow"}}
{{ else if eq .Params.headerTheme "pale-green" }}
    {{ $backgroundColor = "bg-pale-green"}}
{{ else if eq .Params.headerTheme "alabaster" }}
    {{ $backgroundColor = "bg-alabaster"}}
{{ else if eq .Params.headerTheme "pale-purple" }}
    {{ $backgroundColor = "bg-pale-purple"}}
{{ else if eq .Params.headerTheme "red" }}
    {{ $backgroundColor = "bg-transparent"}}
{{ end }}
<body id="page__{{ $current }}" class="page__{{ $current }} flex flex-col min-h-screen justify-between text-black font-sans text-body-md items-center">
    <div class="{{ $padding }}{{ $backgroundColor }}"></div>
    {{- partial "header.html" . -}}
    <main class="flex flex-col h-full w-full flex-1">
    {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
    {{- block "page_script" . }}{{- end }}
</body>

</html>