{{ define "main" }}
    <section class="w-full flex flex-col items-center">
        <div class="w-full p-12 max-w-screen-xl">
        {{ .Content }}
        </div>
    </section>
    {{ with .Pages }}
    <section class="w-full flex flex-col items-center">
        <div class="w-full p-12 max-w-screen-xl">
            <h2>Posts</h2>
            {{ range . }}
            <article class="bg-white p-10 mb-10">
                {{ .Content }}
                <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
                <p>{{ printf "%02d" .Params.weight }}</p>
                <p>{{ .Params.minutes }} mins</p>
                <a href="https://www.youtube.com/watch?v={{ .Params.youtube }}" class="border rounded-full px-5 py-3">Watch Now</a>
            </article>
            {{ end }}
        </div>
    </section>
    {{ end }}
{{ end }}