{{ define "main" }}

<div class="fdc-content-layout bg-black text-light-grey">
    <section>
        {{ with .Content }}
            {{ . }}
        {{ end }}
    </section>
    <section>

        <script id="CookieDeclaration" src="https://consent.cookiebot.com/2d18d293-255a-4ad2-a363-53ba7ffb8919/cd.js" type="text/javascript" async></script>
    </section>
    <section>
        <h2>Cookie settings</h2>
        <div class="self-start pt-20 md:pt-32">
            {{- partial "footer-legal.html" . -}}
        </div>
    </section>
</div>

{{ end }}