{{ define "main" }}
<div class="fdc-content-layout">
    <section>
        {{ partial "content-margin" . }}
        {{ with .Pages.ByDate.Reverse }}
        <div class="my-12 columns-1 lg:columns-2">
        {{ $.Scratch.Set "counter" 0 }}
        {{ range . }}
            {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
            {{ $colorClass := "bg-red" }}
            {{ if eq (mod ($.Scratch.Get "counter") 2) 0 }}
                {{ $colorClass = "bg-pale-purple" }}
            {{ end }}
            <article class="inline-block">
                <div class="mb-12 md:mr-8 md:mb-8 lg:mr-16 lg:mb-16 {{ $colorClass }}">
                    <img src="{{site.BaseURL}}{{ .Params.Image }}" class="w-full" alt="{{ .Params.ImageAlt }}"/>
                    <div class="p-5">
                        <h5 class="mt-0 text-body-xl break-words">{{ .Title }}</h5>
                        {{ .Content | replaceRE "<p>" "<p class=\"text-body-lg break-words\">" | safeHTML }}
                    </div>
                </div>
            </article>
        {{ end }}
        </div>
        {{ end }}
    </section>
</div>
{{ end }}