{{ define "main" }}
<div class="fdc-content-layout">
    <section class="article-content bg-white mb-24">
        <div class="flex justify-between">
            <a class="self-start font-serif no-underline hover:text-red block mb-6" href="{{site.BaseURL}}/things-weve-built" rel="noopener">&larr;&nbsp;back</a>
            <!-- <p class="self-end text-body-lg">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</p> -->
        </div>
        <article>
            <h3>{{ .Params.title }}</h3>
            <img src="{{site.BaseURL}}{{ .Params.image }}" class="w-full my-8" alt="{{ .Params.title }}"/>
            <p>{{ .Content }}</p>
        </article>
    </section>
</div>
{{ end }}