{{ define "main" }}
<div class="fdc-content-layout">
    <section class="article-content bg-white mb-24">
        <article>
            <div class="flex justify-between">
                <a class="self-start font-serif no-underline hover:text-red block mb-6" href="../" rel="noopener">&larr;&nbsp;back</a>
                <p class="self-end text-body-lg">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</p>
            </div>
            {{ if or (.Params.headline1) (.Params.headline) (.Params.teaser) }}
                {{ if .Params.headline1 }}<h1>{{ .Params.headline1 }}</h1>{{ end }}
                {{ if .Params.headline2 }}<h3>{{ .Params.headline2 }}</h3>{{ end }}
                {{ if .Params.teaser }}<div class="text-body-lg">{{ .Params.teaser }}</div>{{ end }}
            {{ end }}
            {{ if .Params.Image }}
                <img src="{{ .Params.Image }}" class="w-full my-8" alt="{{ .Title }}"/>
            {{ else if .Params.lead_image }}
                <img src="{{ .Params.lead_image }}" class="w-full my-8" alt="{{ .Title }}"/>
            {{ end }}
            <p>{{ .Content }}</p>
        </article>
    </section>
</div>
{{ end }}