{{ define "main" }}
    {{ with .Content }}
        <div class="fdc-content-layout">
            <section>
            {{ . }}
            </section>
        </div>
    {{ end }}
    {{ range where .Data.Pages "Type" "page" }}
        {{ $themeClasses := "fdc-content-layout" }}
        {{ if eq .Params.contentTheme "black" }}
            {{ $themeClasses = "fdc-content-layout bg-black text-light-grey" }}
        {{ end }}
        <div class="{{ $themeClasses }}">
            <section>
                {{ partial "content-margin" . }}
            </section>
        </div>
    {{ end }}
{{ end }}