{{ define "main" }}

<div class="fdc-content-layout bg-black text-light-grey">
    <section class="fdc-content-layout-section">
        <div class="grid md:grid-flow-row md:auto-rows-min gap-12 text-body-md fdc-text-sm">
            <div class="md:col-span-4">
                {{ .Content }}
            </div>
            <div class="md:col-start-1 md:col-end-3">
                {{ with .Site.GetPage "/get-in-touch/contact-followus" }} {{ .Content }} {{ end }}
            </div>
            <div class="md:col-start-4 md-col-end-5">
                {{ with .Site.GetPage "/get-in-touch/contact-hamburg" }} {{ .Content }} {{ end }}
            </div>
            <div class="md:col-start-5 md-col-end-6">
                {{ with .Site.GetPage "/get-in-touch/contact-lisbon" }} {{ .Content }} {{ end }}
            </div>
        </div>
        <div class="self-start pt-20 md:pt-32">
            {{- partial "footer-legal.html" . -}}
        </div>
        </div>
    </section>
</div>

{{ end }}