{{ $taxonomy := "tags" }}
<article class="flex-1 mb-20">
    <div class="bg-white no-underline">
        {{ if or (.Params.Image) (.Params.lead_image) }}
        <a href="{{ .RelPermalink | absURL }}">
            {{ if .Params.lead_image }}
            <img src="{{site.BaseURL}}{{.Params.lead_image }}" class="w-full" alt="{{.Params.imageAltText}}" />
            {{ else if .Params.Image }}
            <img src="{{site.BaseURL}}{{.Params.Image }}" class="w-full p-8" alt="{{.Params.imageAltText}}" />
            {{ end }}
        </a>
        {{ end }}

        <div class="px-8 pb-8 pt-8">
            <!-- if headlines and teaser-->
            {{ if or (.Params.headline1) (.Params.headline) (.Params.teaser) }}
                {{ if (.Params.headline1) }}
                    <h3>
                        <a href="{{ .RelPermalink | absURL }}" class="no-underline hover:text-red">{{.Params.headline1}}</a>
                    </h3>
                {{ end }}
                {{ if (.Params.headline2) }}
                    <h5>{{.Params.headline2}}</h5>
                {{ end }}
                {{ if (.Params.teaser) }}
                    <div class="text-body-lg">
                        <!-- {{.Summary | plainify }} -->
                        {{.Params.teaser | safeHTML }}
                    </div>
                {{ end }}
            <!-- else -->
            {{ else }}
                {{ if (.Summary) }}
                    <div class="text-body-lg">
                        {{.Summary }}
                    </div>
                {{ end }}
            {{ end }}
            <!-- end if -->
            <a href="{{ .RelPermalink | absURL }}"
                class="inline-block leading-none cursor-pointer pt-8 text-xl no-underline font-serif hover:text-red">
                Read →
            </a>
        </div>
    </div>
</article>