{{ if not .Page.Params.hideFooter }}
<footer class="w-full flex flex-col items-center
    {{ if .IsHome }} bg-green text-black{{ else }} bg-black text-light-grey{{ end }}">
    <div class="max-w-screen-xl text-lg w-full p-12">
        <div class="grid md:grid-cols-2 md:gap-x-36">
            <div class="pb-8 md:w-full">
                <h3>{{ i18n "wantToTalk" . }}?<br>{{ i18n "getInTouch" . }}.</h3>
            </div>
            <div class="md:row-span-2 md:w-3/4">
                <div class="mb-20">
                    <h4>{{ i18n "letsChat" . }}</h4>
                    <div class="text-md mb-4 md:w-full">
                        {{ i18n "wereAlwaysHappyToChat" . }} -
                        {{ i18n "justSendUsAnEmail" . }}.
                    </div>
                    {{ partial "btn-link.html" (dict
                    "linkUrl" "mailto:kontakt@freiheit.com"
                    "linkText" (i18n "getInTouchButton")
                    "color" "yellow"
                    ) }}
                </div>
            </div>
            <div class="self-end pt-16">
                {{- partial "footer-legal.html" . -}}
            </div>
        </div>
    </div>
</footer>
{{ end }}