{{ $styleTeam := "border-pink" }}
{{ if eq .categories.team "Engineers" }}
    {{ $styleTeam = "team__engineers border-green" }}
{{ end }}
{{ $containerStyle := printf "%s%s %s" "p-8 location__" .categories.location $styleTeam }}
<div class="flex flex-col bg-white border-t-4 border-transparent {{ $containerStyle }}">
    <div class="flex justify-between text-sm items-center">
        <div class="flex items-center">
            <span class="mr-1"><img src="/img/location.svg" alt=""></span>
            <span>{{ .categories.location }}</span>
        </div>
        <div>{{ .categories.commitment }}</div>
    </div>
    <div class="mt-6 flex-1">
        <a href="{{ .hostedUrl }}" target="_blank" class="text-head-sm md:text-head-md font-serif no-underline hover:text-red">
            {{ .text }}
        </a>
        <div class="mt-4">{{ .categories.team }}</div>
    </div>
    <div class="md:mt-8 mt-4 job-url">
        {{ partial "btn-link.html" (dict
        "linkUrl" .hostedUrl
        "linkText" "Apply Now"
        "color" "red"
        "target" "_blank"
        ) }}
    </div>
</div>