{{ define "main" }}
    {{ with .Content }}
        <div class="fdc-content-layout">
            <section>
            {{ . }}
            </section>
        </div>
    {{ end }}
    {{ range where .Data.Pages "Type" "page" }}
        {{ $themeClasses := "fdc-content-layout" }}
        {{ if eq .Params.contentTheme "white" }}
            {{ $themeClasses = "fdc-content-layout bg-white text-black" }}
        {{ end }}
        {{ if eq .Params.contentTheme "black" }}
            {{ $themeClasses = "fdc-content-layout bg-black text-light-grey" }}
        {{ end }}
        {{ if eq .Params.contentTheme "alabaster" }}
            {{ $themeClasses = "fdc-content-layout bg-alabaster text-black" }}
        {{ end }}
        {{ if eq .Params.contentTheme "red" }}
            {{ $themeClasses = "fdc-content-layout bg-red text-white" }}
        {{ end }}
        {{ if eq .Params.contentTheme "xmas-green" }}
            {{ $themeClasses = "fdc-content-layout bg-xmas-green text-white" }}
        {{ end }}
        {{ if eq .Params.contentTheme "video" }}
            {{ $themeClasses = "" }}
        {{ end }}
        <div class="{{ $themeClasses }}">
            <section>
                {{ partial "content-margin" . }}
            </section>
        </div>
    {{ end }}
{{ end }}