{{ $blank := resources.GetMatch "image/blank.png.webp" }}
{{ $texture := resources.GetMatch "image/video_texture.png.webp" }}
{{ $background := resources.GetMatch "image/video_background.png.webp" }}
{{ $poster := resources.GetMatch "image/poster.jpg.webp" }}
{{ $video := resources.GetMatch "video/video.mp4" }}
<div class="homepage-video w-full mb-12 relative">
  <div
    class="homepage-video__patern absolute top-0 left-0 w-full h-full z-20" 
    style="background-image: url({{ $texture.Permalink }}); background-color: rgba(41, 44, 53, 0.5)">
  </div>
  <div
    class="absolute w-full h-full z-20 opacity-30 bg-no-repeat bg-right bg-cover"
    style="background-image: url({{ $background.Permalink }});">
  </div>
  <video
          loop
          muted
          autoplay
          playsinline
          preload="auto"
          poster="{{ $poster.Permalink }}"
          class="w-full h-full absolute z-10 top-0 left-0 object-cover"
          id="welcomeVideo"
  >
    <source src="{{ $video.Permalink }}" type="video/mp4">
  </video>
  <div class="relative w-full h-full z-30 flex flex-col items-center justify-center xl:justify-end text-white md:px-8 md:px-24 text-center xl:pb-32">
    <div id="videoSound" class="soundVibes absolute bottom-24 md:bottom-32 flex top-auto right-16 md:right-24 cursor-pointer items-center">
      <div class="soundVibes-eq">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <section class="flex flex-col items-center max-w-screen-3xl">
      {{ $logo := resources.GetMatch "image/symbol.svg" }}
      <div class="hidden xl:block"><img src="{{ $logo.Permalink }}" alt="freiheit logo" class="mb-8 h-16 w-16" /></div>
      {{ if isset .Params "title" }}
        <div class="text-white font-serif text-head-lg lg:text-head-xl px-8">{{ .Get "title" }} </div>
      {{ end }}
      {{ if isset .Params "subtitle" }}
        <div class="mt-4 text-white font-serif text-head-md md:text-head-lg">{{ .Get "subtitle" }} </div>
      {{ end }}
      <div class="mt-4 md:mt-8">
        <a href="#we-are-pioneers">
          <img src="{{ $blank.Permalink }}" alt="scroll down" width="1" height="1"/>
          <div class="mouse_scroll">
            <div class="homepage-video__arrows">
              <span class="homepage-video__arrow"></span>
              <span class="homepage-video__arrow"></span>
              <span class="homepage-video__arrow"></span>
            </div>
          </div>
        </a>
      </div>
    </section>
  </div>
</div>

{{ define "page_script" }}
<script>
  // alert();
  let vibes = document.getElementById('videoSound');
  let video = document.getElementById('welcomeVideo');
  vibes.addEventListener('click', function () {
    let mute = video.muted
    vibes.classList.toggle("music-on")
    video.muted=!mute
  })
  
</script>
{{ end }}
