<div class="homepage-video w-full mb-12 relative">
  <div
    class="homepage-video__patern absolute top-0 left-0 w-full h-full z-20" 
    style="background-image: url({{site.BaseURL}}/img/homepage-video/video_texture.png); background-color: rgba(41, 44, 53, 0.5)">
  </div>
  <div
    class="absolute w-full h-full z-20 opacity-30 bg-no-repeat bg-right bg-cover"
    style="background-image: url({{site.BaseURL}}/img/homepage-video/video_background.png);">
  </div>
  <video
    loop
    muted
    autoplay
    playsinline
    preload="auto"
    poster="{{site.BaseURL}}/img/homepage-video/poster.jpg"
    class="w-full h-full absolute z-10 top-0 left-0 object-cover"
    id="welcomeVideo"
  >
    <!-- <source src="{{site.BaseURL}}/img/homepage-video/video_freiheit.webm" type="video/webm"> -->
    <source src="{{site.BaseURL}}/img/homepage-video/240222-draft-homepage-2.mp4" type="video/mp4">
    Sorry your browsers dosen't not support video
  </video>
  <div class="relative w-full h-full z-30 flex flex-col items-center justify-center text-white px-8 md:px-24 text-center">
    <div id="videoSound" class="soundVibes absolute bottom-24 md:bottom-12 md:top-auto right-8 md:bottom-24 md:right-12 cursor-pointer flex items-center">
      <!-- <div>Vibes ON</div> -->
      <div class="soundVibes-eq">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <section class="flex flex-col items-center max-w-screen-3xl">
      {{ $logo := resources.GetMatch "image/symbol.svg" }}
      <div><img src="{{ $logo.Permalink }}" alt="freiheit logo" class="mb-8 h-16 w-16" /></div>
      {{ if isset .Params "title" }}
        <div class="text-white font-serif text-head-lg md:text-head-xxl">{{ .Get "title" }} </div>
      {{ end }}
      {{ if isset .Params "subtitle" }}
        <div class="mt-4 text-white font-serif text-head-md md:text-head-lg">{{ .Get "subtitle" }} </div>
      {{ end }}
      <div class="mt-4">
        <a href="#we-are-pioneers">
          <div class="mouse_scroll">
            <div class="homepage-video__arrows">
              <span class="homepage-video__arrow"></span>
              <span class="homepage-video__arrow"></span>
              <span class="homepage-video__arrow"></span>
            </div>
          </div>
        </a>
      </div>
    </section>
  </div>
</div>

{{ define "page_script" }}
<script>
  // alert();
  let vibes = document.getElementById('videoSound');
  let video = document.getElementById('welcomeVideo');
  vibes.addEventListener('click', function () {
    let mute = video.muted
    vibes.classList.toggle("music-on")
    video.muted=!mute
  })
  
</script>
{{ end }}
