{{ define "main" }}
<div class="fdc-content-layout">
    <section>
        {{ partial "content-margin" . }}
        {{ with .Pages }}
        <div class="flex flex-wrap my-12">
        {{ range . }}
            {{ $sizeClass := "md:w-1/3 lg:w-2/5" }}
            {{ $colorClass := "bg-pale-purple" }}
            {{ if eq .Params.size "big" }}
                {{ $sizeClass = "md:w-2/3 lg:w-3/5" }}
                {{ $colorClass = "bg-red" }}
            {{ end }}
            <article class="{{ $sizeClass }}">
                <div class="mb-12 md:mr-8 md:mb-8 lg:mr-16 lg:mb-16 {{ $colorClass }}">
                    <img src="{{ .Params.Image }}" class="w-full" alt="{{ .Title }}"/>
                    <div class="p-5">
                        <h5 class="mt-0 text-body-xl">{{ .Title }}</h5>
                        <p class="text-body-lg">
                            {{.Content | plainify }}
                        </p>
                    </div>
                </div>
            </article>
        {{ end }}
        </div>
        {{ end }}
    </section>
</div>
{{ end }}