<div class="w-full mt-10">
  <div class="fdc-content-layout bg-pale-pink">
    <section>
      <div class="grid grid-cols-numbers-1 sm:grid-cols-numbers-2 justify-between gap-20 py-10 w-full">
        <div class="flex gap-2 flex-col ">
          <div class="font-fdc text-black text-numbers-sm sm:text-numbers-xs md:text-numbers-sm xl:text-numbers-md">
            1999</div>
          <div class="pl-4 text-body-lg">founded in Hamburg</div>
        </div>
        <div class="flex gap-2 flex-col ">
          <div class="font-fdc text-black text-numbers-sm sm:text-numbers-xs md:text-numbers-sm xl:text-numbers-md">
            200+</div>
          <div class="pl-4 text-body-lg">members, 85% software engineers</div>
        </div>
        <div class="flex gap-2 flex-col ">
          <div class="font-fdc text-black text-numbers-sm sm:text-numbers-xs md:text-numbers-sm xl:text-numbers-md">
            300+</div>
          <div class="pl-4 text-body-lg">projects, never failed, never late</div>
        </div>
        <div class="flex gap-2 flex-col ">
          <div class="font-fdc text-black text-numbers-sm sm:text-numbers-xs md:text-numbers-sm xl:text-numbers-md">
            2018</div>
          <div class="pl-4 text-body-lg">opened second Hub in Lisbon</div>
        </div>
      </div>
    </section>
  </div>
</div>