<div {{ if isset .Params "class" }} class="{{ .Get "class" }}"{{ end }}>
  <div class="flex flex-row justify-center w-full">
    <div class="grid grid-cols-3">
      {{ if isset .Params "numbers" }}
      <div class="col-span-3 flex flex-1 justify-center bg-black">
        <div class="font-fdc text-yellow my-8 md:my-16 text-numbers-xs sm:text-numbers-sm md:text-numbers-md lg:text-numbers-lg">{{ .Get "numbers" }}</div>
      </div>
      {{ end }}
      <div class="items-center flex justify-center col-span-2 bg-yellow">
        {{ if isset .Params "title" }}
        <span class="text-lg md:text-4xl md:py-24 md:px-12 py-12 px-8 text-center">{{ .Get "title" }}</span>
        {{ end }}
      </div>
      {{ if isset .Params "graphic" }}
      <div
              class="bg-pale-green flex bg-right-bottom bg-cover bg-no-repeat"
              style="background-image: url('{{ .Get "graphic" }}')">
      </div>
      {{ end }}
    </div>
  </div> 
</div>
