{{ $colorClass := "bg-pale-purple" }}
{{ if eq .Params.color "purple" }}
{{ $colorClass = "bg-red" }}
{{ end }}
<article>
    <div class="mb-12 md:mr-8 md:mb-8 lg:mr-16 lg:mb-16 {{ $colorClass }}">
        <img src="{{site.BaseURL}}/img/{{ .Get "image" }}" class="w-full" alt="{{ .Get "title" }}"/>
        <div class="p-5">
            <h5 class="mt-0 text-body-xl">{{ .Get "title" }}</h5>
            <div class="text-body-lg font-light">
                {{ .Inner | markdownify }}
                {{ if .Params.download }}
                    <br /><a class="font-serif no-underline hover:text-red" href="{{site.BaseURL}}downloads/{{ .Params.download }}" target="_blank" rel="noopener">Read more&nbsp;→</a>
                {{ end }}
            </div>
        </div>
    </div>
</article>