<div class="homepage-video w-full relative">
  <video
          loop
          muted
          autoplay
          playsinline
          preload="auto"
          poster="{{site.BaseURL}}/video/poster.jpg.webp"
          class="w-full h-full absolute z-10 top-0 left-0 object-cover"
          id="welcomeVideo"
  >
  </video>
  <div class="relative w-full h-full z-30 flex flex-col items-center justify-end pb-16 md:pb-32 text-white md:px-8 md:px-24 text-center">
    <section class="flex flex-col items-center max-w-screen-3xl">
      <div class="hidden xl:block"><img src="{{site.BaseURL}}/img/symbol.svg" alt="freiheit logo" class="mb-8 h-16 w-16" /></div>
      {{ if isset .Params "title" }}
        <div class="text-white font-serif text-head-lg lg:text-head-xl px-8">{{ .Get "title" }} </div>
      {{ end }}
      {{ if isset .Params "subtitle" }}
        <div class="mt-4 text-white font-serif text-head-md md:text-head-lg">{{ .Get "subtitle" }} </div>
      {{ end }}
      <div class="mt-4 md:mt-8">
        <a href="#we-are-pioneers">
          <img src="{{site.BaseURL}}/img/blank.png.webp" alt="scroll down" width="1" height="1"/>
          <div class="mouse_scroll">
            <div class="homepage-video__arrows">
              <span class="homepage-video__arrow"></span>
              <span class="homepage-video__arrow"></span>
              <span class="homepage-video__arrow"></span>
            </div>
          </div>
        </a>
      </div>
    </section>
  </div>
</div>

{{ define "page_script" }}
<script>
  function getWidth() {
    return Math.max(
      document.body.scrollWidth,
      document.documentElement.scrollWidth,
      document.body.offsetWidth,
      document.documentElement.offsetWidth,
      document.documentElement.clientWidth
    );
  }
  let video = document.getElementById('welcomeVideo');
  let source = document.createElement("source");
  if (video && source) {
    if (getWidth() < 768) {
      source.src = "{{site.BaseURL}}/video/video_mobile.mp4";
      source.type = "video/mp4";
    } else {
      source.src = "{{site.BaseURL}}/video/video.mp4";
      source.type = "video/mp4";
    }
    video.append(source);
    video.play();
  }
</script>
{{ end }}
