<div class="-mx-4 md:-mx-12 lg:-mx-20 p-8 md:p-12 bg-pale-grey my-12 lg:my-20">
  <div class="grid grid-cols-quote gap-2">
    <div class="quote__symbol quote__symbol--right text-yellow pt-10" style="font-size: 150px">&ldquo;</div>
    <p class="quote__text italic">{{ .Get "text" }}</p>
    <div class="quote__symbol quote__symbol--left self-end text-yellow -mb-4" style="font-size: 150px">&rdquo;</div>
    <div></div>
    <p class="quote__source font-bold">{{ .Get "source" }}</p>
    <div></div>
  </div>
</div>