{{ $sizeClass := "md:w-1/3 lg:w-2/5" }}
{{ $colorClass := "bg-pale-purple" }}
{{ if eq .Params.size "big" }}
{{ $sizeClass = "md:w-2/3 lg:w-3/5" }}
{{ $colorClass = "bg-red" }}
{{ end }}
<article class="{{ $sizeClass }}">
    <div class="mb-12 md:mr-8 md:mb-8 lg:mr-16 lg:mb-16 {{ $colorClass }}">
        <img src="{{site.BaseURL}}/img/{{ .Get "image" }}" class="w-full" alt="{{ .Get "title" }}"/>
        <div class="p-5">
            <h5 class="mt-0 text-body-xl">{{ .Get "title" }}</h5>
            <div class="text-body-lg font-light">
                {{ .Inner | markdownify }}
            </div>
        </div>
    </div>
</article>