<style lang="css">
  @-webkit-keyframes light {
    from {
      opacity: 1;
    }

    20% {
      opacity: 0.9;
    }

    40% {
      opacity: 0.8;
    }

    60% {
      opacity: 0.7;
    }

    80% {
      opacity: 0.8;
    }

    to {
      opacity: 0.9;
    }
  }

  @keyframes snow {
    0% {
      background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
      background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
  }
  :root {
    --headerHeight: 550px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .header {
    position: absolute;
    height: var(--headerHeight);
    top: 0;
    right: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 2;
  }

  .header-back {
    position: relative;
    width: 100%;
    height: calc(var(--headerHeight) - 150px);
    background-image:
      url('{{site.BaseURL}}/img/xmas/snow1.png'),
      url('{{site.BaseURL}}/img/xmas/snow2.png'),
      url('{{site.BaseURL}}/img/xmas/snow3.png');
    animation: snow 25s linear infinite;
  }

  .header-text {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
  }

  .header-text .glow {
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.8);
  }

  .floor {
    width: 100%;
    position: absolute;
    top: calc(var(--headerHeight) - 174px);
    left: 0;
    right: 0;
    height: 174px;
    background-image: url({{site.BaseURL}}/img/xmas/divider-snow-3.svg);
    background-size: contain;
    background-repeat: repeat-x;
  }
  .text-head-lg {
    font-size: clamp(2.8rem, 5vw + 1rem, 5rem) !important;
  }
  .homepage-video {
    height: calc(var(--headerHeight) - 150px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .content-spacer {
    height: calc(var(--headerHeight) - 100px);
  }

  @media (min-width: 576px) {
    :root {
      --headerHeight: 650px;
    }
    .header {
      height: var(--headerHeight);
    }
    .header-back {
      height: calc(var(--headerHeight) - 150px);
    }
    .floor {
      top: calc(var(--headerHeight) - 190px);
    }
    .homepage-video {
      height: calc(var(--headerHeight) - 150px);
    }
    .content-spacer {
      height: calc(var(--headerHeight) - 100px);
    }
  }

</style>
<script>

  window.onload = function(e){
    function getWidth() {
      return Math.max(
        document.body.scrollWidth,
        document.documentElement.scrollWidth,
        document.body.offsetWidth,
        document.documentElement.offsetWidth,
        document.documentElement.clientWidth
      );
    }
    let video = document.getElementById('xmasVideo');
    let source = document.createElement("source");
    if (video && source) {
      if (getWidth() < 768) {
        source.src = "{{site.BaseURL}}/video/xmas2024_mobile.mp4";
        source.type = "video/mp4";
      } else {
        source.src = "{{site.BaseURL}}/video/xmas2024_desktop.mp4";
        source.type = "video/mp4";
      }
      video.append(source);
      video.play();
    }
  }
</script>
<div class="header">
  <div class="header-back">
    <div class="floor">&nbsp;</div>
  </div>
  <div class="header-text">
    <div class="pl-4 sm:pt-12 lg:pl-20 xl:pl-40">
      <div class="glow text-head-lg md:text-head-xl font-serif m-0 mb-0 md:mt-10 text-white" style="line-height: 0.8em; ">MERRY CHRISTMAS</div>
      <div class="text-head-md md:text-head-md font-serif m-0 mb-12 text-white">AND A HAPPY NEW YEAR!</div>
      <div class="glow text-head-lg md:text-head-xl font-serif m-0 mb-0 text-white" style="line-height: 0.8em;">FELIZ NATAL</div>
      <div class="text-head-md md:text-head-md font-serif m-0 mb-0 text-white">E UM PRÓSPERO ANO NOVA!</div>
    </div>
  </div>
</div>
<div class="content-spacer"></div>
<div class="homepage-video w-full relative">
  <video
          loop
          muted
          autoplay
          playsinline
          preload="auto"
          poster="{{site.BaseURL}}/video/xmas2024_poster.jpg"
          class="w-full h-full absolute z-10 top-0 left-0 object-cover"
          id="xmasVideo"
  >
  </video>
</div>
