{{/*

Shortcode to embed youtube videos and prevent youtube cookie setting.

This shortcode first renders only an image of the youtube video taken from
https://img.youtube.com/vi/[youtube_id]/0.jpg with a youtube play button in the middle.

On click it replaces this with the actual youtube embed iframe.

*/}}

{{ $id := printf "%s_%s" "youtube" (index .Params 0) }}

<div id="{{ $id }}_container" class="relative h-0">
    <div id="{{ $id }}_iframe"></div>
    <div id="{{ $id }}_image" class="absolute top-0 left-0 w-full h-full border-0 flex justify-center items-center cursor-pointer">
        <img id="{{ $id }}_image__thumb" class="absolute w-full" loading="lazy" src="https://img.youtube.com/vi/{{ index .Params 0 }}/0.jpg"
             alt="YouTube video {{ index .Params 0 }}">
        <img id="{{ $id }}_image__button" class="absolute" src="/img/youtube_play_button.svg" title="Click to load video" alt="Click to load video"/>
        <img id="{{ $id }}_image__button--hover" class="absolute hidden" src="/img/youtube_play_button_hover.svg" title="Click to load video" alt="Click to load video"/>
    </div>
</div>
<script>
    window.onload=function() {
        let iframe = document.createElement('iframe');
        iframe.setAttribute('id', '{{ $id }}_iframe');
        iframe.setAttribute('class', 'absolute top-0 left-0 w-full h-full border-0');
        iframe.setAttribute('allow', 'autoplay');
        iframe.setAttribute('src', 'https://www.youtube-nocookie.com/embed/{{ index .Params 0 }}?enablejsapi=1&autoplay=1&rel=0');
        iframe.setAttribute('allowFullscreen', '');
        iframe.setAttribute('title', 'YouTube Video {{ index .Params 0 }}');
        let div = document.getElementById("{{ $id }}_image");
        div.addEventListener("click", function () {
            document.getElementById('{{ $id }}_image').remove();
            document.getElementById('{{ $id }}_iframe').replaceWith(iframe);
        });
    }
</script>
<style>
    #{{ $id }}_container {
        overflow: hidden;
        padding-bottom: 56.25%;
    }
    #{{ $id }}_image {
        overflow: hidden;
    }
    #{{ $id }}_image__button, #{{ $id }}_image__button--hover {
        width: 100px;
    }

    #{{ $id }}_image:hover #{{ $id }}_image__button {
        display: none;
    }

    #{{ $id }}_image:hover #{{ $id }}_image__button--hover {
        display: block;
    }
</style>
