{{ define "main" }}

    {{ with .Pages }}
        {{ range . }}
        <div class="fdc-content-layout">
            <section>
                {{ $class := "md:pr-48 lg:pr-72 xl:pr-80 xxl:pr-96" }}
                {{ partial "content-margin" . }}
            </section>
        </div>
        {{ end }}
    {{ end }}

    {{ with .Content }}
    <div class="fdc-content-layout bg-alabaster">
        <section>

            {{ . }}

            {{ $data := $.Site.Data.lever.jobsd7949f6b1c0f7a407b61e29498e4c4df }}
            {{ if eq $data "" }}
                {{ $data = getJSON "https://api.lever.co/v0/postings/freiheit-2?mode=json&distributionChannel=public&state=published&group=location" }}
            {{ end }}
            {{ range $data }}
            <h4>In {{ .title }}</h4>
            <div class="grid xl:grid-cols-3 md:grid-cols-2 gap-8 my-8">
                    {{ range .postings }}
                        {{ partial "job.html" . }}
                    {{ end }}
                </div>
            {{ end }}

        </section>
    </div>
    {{ end }}

{{ end }}
